.bill_sections{
    display: flex;
    flex-direction: column;
    width: 900px;
    height: 100%;
    background-color: #fff;
    margin: 1rem 1rem;
    border-radius: 20px;
    padding: 1rem 1rem;
}
.bill{
        display: grid;
        grid-template-columns: 3fr 3fr 3fr 3fr;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0px;
}
.bill_content {
    display: flex;
    flex-direction: row;
    float: left;
    /* gap: 1rem; */
    margin: 0.4rem 1rem;
    margin-left: 10%;
    cursor: pointer;
    align-items: center;
}
/* Bill card */
.bill_card{
    display: flex;
    gap: 0rem 1rem;
    border: 1px #DEDEDE solid;
    border-radius: 20px;
    width: 200px;
    height: 45px;
    align-items: center;
    align-content: flex-start;
    padding: 0rem 1em;
}
.bill_card>img{
    width: 30px;
    height: 30px;  
}


/* Mobile Section */
.bill_container{
    width: 100%;
    justify-content: space-between;
    display: flex;
}
.three_cards{
    display: grid;
    grid-template-columns: 3fr 3fr 5.5fr;
}
.two_cards{
    display: grid;
    grid-template-columns: 3fr 8.5fr;
}
/* Utility */
.sections{
    display: flex;
    flex-direction: column;
    width: inherit;
    gap: 1rem;
    margin: 2rem 0rem;
    justify-content: space-evenly;
}
.sections>h1{
    font-size: 18px;
}

.section_content{
    display: flex;
    flex-direction: row;
}



