.dashboard{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    justify-content: space-evenly;
    /* max-height: inherit; */
    height: 100%;

    
}
.mid_dash{
    display: flex;
    flex-direction: column;
    max-width: inherit;
}
.people_section{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    margin: 0rem 1rem;
    justify-content: space-evenly;
}

.people{
    box-sizing: border-box;
    padding: auto;
}

.chart{
    box-sizing: border-box;
    height: 100%;
    width: 520px;
    background-color: #FFFFFF;
    padding: 0.4rem 0.4rem;
    border-radius: 10px;
}

.data{
    align-items: center;
    display: flex;
    width: 200px;
    height: 75px;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(174, 173, 173, 0.03);
    border-radius: 10px;
    margin: 1rem; 
}
.data>img{
    width: 60px;
    height: 60px;
    padding: 0.3rem;
}
.amount-data{
    display: flex;
    flex-direction: column;
}
.text{
    font-size: 12px;
}

.timeline{
    display: flex;
    align-items: center;
    gap: 15rem;
}
.timeline>button{
    width: 74.44px;
    height: 26.84px;
    border: none;
    align-content: flex-end;
}

.histories{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    /* width: 775px; */
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    padding: 1rem;
    margin: 1rem;
    border-radius: 10px;
}
.histories2{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 90%;
    height: inherit;
    background-color: #FFFFFF;
    padding: 1rem;
    margin: 1rem;
    border-radius: 10px;
}
.table{
    /* display: flex;
    flex-direction: column; */
    /* box-sizing: border-box; */
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    /* padding: 1rem;
    margin: 1rem; */
    /* border-radius: 10px; */
}
.tbl{
    width : 100%;
}
.search{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 70%;
}
.footer{
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    gap: 50%;
}
.selectBtns{
    display: flex;
    flex-direction: row;
    text-align: right;
    float: right;
    margin-left: 20px;
    gap: 30px;
}
.btn{
    height: 30px;
    width: 80px;
    background-color: #FFFFFF;
    border-radius: 5px;
    border-color: grey;
}
.btmBtn{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.logoTable{
    width: 100%;
    text-align: center;
    padding: 12px 0;
}
.textTable{
    width: 100px;
    text-align: center;
    padding: 20px 0;
}
.search input[type=text]{
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 150%;
  border-radius: 5px;
  padding: 10px;
  height: 50px;
}
.search button{
    float: left;
  width: 20%;
  padding: 10px;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}
.select{
    width: 100px;
    border: 1px solid grey;
    border-radius: 5px;
    height: 50px;
}
.td{
    text-align: center;
}
.lin{
    text-decoration: none;
    color: black;
}

/* th {
    background-color: #E9E6F4;
  } */
.tableHead{
    background-color: #E9E6F4;
    width: 100%;
  display: flex;
  flex-direction: row;
  height: 50px;
  gap: 30px;
}
.tableRow{
  display: flex;
  width:100%;
  flex-direction: row;
  gap: 100px;
}

.history{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 52px;
    justify-content: center;
    border: 2px #E9E6F4 solid;
    border-radius: 10px;
    margin: 1rem 0rem;
}
.historyContent{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0rem 1rem;
}
.historyContent2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0rem 1rem;
}
.historyContent>img{
    width: 36px;
    height: 36px;
}
.historyContent:active{
    background-color: #E9E6F4;
    border-radius: 2px #ffff solid;
}
