.dashboard{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    justify-content: space-evenly;
}
.mid-dash{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    margin: 0rem 1rem;
    justify-content: space-evenly;
}

.people{
    box-sizing: border-box;
    padding: auto;
}

.chart{
    box-sizing: border-box;
    height: 100%;
    width: 520px;
    background-color: #FFFFFF;
    padding: 0.4rem 0.4rem;
    border-radius: 10px;
}

.data{
    align-items: center;
    display: flex;
    width: 200px;
    height: 75px;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(174, 173, 173, 0.03);
    border-radius: 10px;
    margin: 1rem; 
}
.data>img{
    width: 60px;
    height: 60px;
    padding: 0.3rem;
}
.amount-data{
    display: flex;
    flex-direction: column;
}
.text{
    font-size: 12px;
}

.timeline{
    display: flex;
    align-items: center;
    gap: 15rem;
}
.timeline>button{
    width: 74.44px;
    height: 26.84px;
    border: none;
    align-content: flex-end;
}

.histories{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: #FFFFFF;
    padding: 1rem;
    margin: 1rem;
    border-radius: 10px;
}
.history{
    display: flex;
    flex-direction: column;
    width: 757px;
    height: 52px;
    justify-content: center;
    border: 2px #E9E6F4 solid;
    border-radius: 10px;
    margin: 1rem 0rem;
}
.historyContent{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0rem 1rem;
}
.historyContent>img{
    width: 36px;
    height: 36px;
}
.historyContent:active{
    background-color: #E9E6F4;
    border-radius: 2px #ffff solid;
}
