.dashboard{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}
.dash-content{
    display: flex;
    height: 90vh;
    flex-direction: row;
    padding: 0rem 2rem;
}
.chart-section{
    display: flex;
    flex-direction: column;
}
.mid-dash{
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.people{
    box-sizing: border-box;
}

.chart{
    box-sizing: border-box;
    background: #FFFFFF;
    width: 100%;
    border-radius: 10px;
    gap: 2rem;
}
.people>img{
    width: 20px;
    height: 20px;
}
.data{
    display: flex;
    width: 200.55px;
    height: 70.55px;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(174, 173, 173, 0.03);
    border-radius: 10px;
    margin: 1rem; 
}
.amount-data{
    display: flex;
    flex-direction: column;
}
.text{
    font-size: 12px;
}
.chart{
    box-sizing: border-box;
    width: 600px;
    align-content: center;
}
.timeline{
    display: flex;
    align-content: space-between;
}
.timeline>button{
    width: 74.44px;
    height: 26.84px;
}

.histories{
    display: flex;
    flex-direction: column;
    box-sizing: content-box;
}
.history{
    display: flex;
    flex-direction: column;
    width: 757px;
    height: 52px;
    align-items: center;
    border: 2px #E9E6F4 solid;
    border-radius: 10px;
    margin: 1rem 0rem;
}
.historyContent{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.historyContent>img{
    width: 36px;
    height: 36px;
}
.historyContent:active{
    background-color: #E9E6F4;
    border-radius: 2px #ffff solid;
}
