.signin__form__body{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;

}
.signin__form__body_{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 50px;
    margin-top: 20%;

}
.signin_body {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: flex-start;
    /* background: #FFFFFF; */
    /* margin-left: -550px; */
    /* padding: 10px; */
    margin-top: 5%;
    gap: 30%;

}

.form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    /* gap: 27px; */

    /* width: 360px; */
    /* left: 180px;
    top: 132px; */

}
.fillform form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 18px;

    width: 320px;
    height: 262px;
}
.fillform label{
    width: 36px;
    height: 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    line-height: 5px;
    color: #0D0D0D;
    cursor: pointer;
}
.fillform input{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 14px;
    gap: 3px;
    width: 320px;
    height: 44px;
    background: #FFFFFF;
    border: 1px solid #BFBFBF;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
}
.save__login input[type=checkbox] {
    position: relative;
    width: 10px;
    height: 20px;
    float: left;
    bottom: 1px;
}
.save_login label {
    display: block;
}
.save__login a{
    /* width: 173px;
    height: 20px; */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    /* font-size: 10px; */
    line-height: 20px;
    max-lines: 1;
    color: #210590;
}
.remember_me{
    font-size: 12px;
}
.forgot_p{
    font-size: 12px;
}
.signin_button{
    color: white;
    box-sizing: border-box;
   
    padding: 10px 18px;

    width: 320px;
    height: 44px;

    background: #210590;
    border: 1px solid #210590;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    cursor: pointer;
}
.google_signin{
    display: flex;
    justify-content: center;
    padding: 10px 16px;
    gap: 12px;
    width: 320px;
    height: 44px;
    background: #FFFFFF;
    border: 1px solid #757575;

    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;

    color: #0D0D0D;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    cursor: pointer;
}

.link2{
    text-decoration: none !important;
    color: #FFFFFF !important;
}
.glink{
    text-decoration: none;
    color: #210590;
}