
.image_section{
    display: flex;
    align-items: center;
    justify-content: center;
}
.image_section img {
    position: relative;
    width: 460px;
    height: 560px;
    /* left: 702px; */
    top: 63px;
}

@media screen and (max-width: 550px){
    .image_section img{
        height: 6000px;
        width: 400px;
    }
}
@media screen and (max-width: 840px){
    .image_section img{
        height: 800px;
        width: 600px;
    }
}