.signin_body {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: flex-start;
    border: 1px #FFFFFF solid;
    width: 1440px;
    height: 80vh;
    background: #FFFFFF;
    padding: 0px;
    gap: 57px;

}

.form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    margin: 1rem 5rem;

    width: 360px;
    height: 100vh;

}
@media screen and (max-width: 550px) {
    .signin_body{
        flex-direction: column;
    }
}

@media screen and (max-width: 840px){
    .signin_body{
        flex-direction: column;
    }
}





