.overlay{
    width: 480px;
    display: flex;
    padding: 0.5rem 0.5;
    flex-direction: column;
    text-align: left;
    margin-right: 5rem;
    justify-content: flex-start;
    position: absolute;
    gap: 80px;
}
.overlay h1{
    font-size: 31px;
}
.overlay h6{
    font-size: 31px;
}
.buttons p{
    font-size: 18px;
}
.buttons img{
    border-radius: 50%;
    width: 20px;
    height: 20px;
}