.overlay {
  box-sizing: border-box;
  width: 440px;
  display: flex;
  padding: 0.5rem 0.5;
  flex-direction: column;
  text-align: left;
  margin-top: 20rem;
  justify-content: flex-start;
  position: absolute;
  gap: 1rem;
  background: linear-gradient(
    111.26deg,
    rgba(255, 255, 255, 0.6) 11.75%,
    rgba(255, 255, 255, 0.18) 88.07%
  );
  border: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(7.5px);
}
.overlay h1 {
  font-size: 20px;
  margin-left: 1rem;
}
.overlay p{
  margin-left: 1rem;
}
.buttons p {
  font-size: 18px;
}
.buttons img {
  border-radius: 50%;
  width: 30px;
  height: 30px;

  /* display: flex; */
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 15.03px;
  position: relative;
  left: 311px;
  top: -47px;
}
