.forgotpassword{
    width: 100%;
    height: 100vh;
    align-items: center;
    color: #0D0D0D;
    text-align: center;
    align-items: center;
    padding-top: 4rem ;
}
.top-bar{
    width: 100%;
    height: 40px;
}
.forgot-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #0D0D0D;
    text-align: center;
    align-items: center;
    padding-top: 4rem ;
    font-size: 14px;
}
.forgot-form input{
    width: 320px;
    height: 40px;
    border: 1px solid #BFBFBF;
    border-radius: 8px;

}
.forgot-form img{
    width: 40px;
    height: 40px;
}
.button{
    width: 320px;
    height: 44px;
    border: 1px solid #210590;
    background-color:#210590;
    border-radius: 8px;
    font-size: 16px;
    text-align: center;
    color: #ffff;
}