.forgotpassword{
    width: 100%;
    height: 100vh;
    align-items: center;
    color: #0D0D0D;
    align-items: center;
    /* padding-top: 4rem ; */
    margin: 0rem 1rem;
}
.forgotpassword>h1{
    font-weight: 600;
    font-size: 30px;
}

.top-bar{
    width: 100%;
    height: 60px;
}
.forgot-form{
    display: flex;
    margin-top: 10%;
    flex-direction: column;
    align-items: center;
    color: #0D0D0D;
    text-align: center;
    align-items: center;
    gap: 10px;
    font-size: 14px;
}
.forgot-form>p{
    font-weight: 400;
    font-size: 16px;
    color: #757575;
}
.forgot-form>input[type=placeholder]{
    padding: 0rem 1rem;
}
.forgot-form input{
    width: 320px;
    height: 40px;
    border: 1px solid #BFBFBF;
    border-radius: 8px;
    margin: 1rem 2rem;
    padding: 5px;
}
.forgot-form img{
    width: 40px;
    height: 40px;
}
.button{
    width: 320px;
    height: 44px;
    border: 1px solid #210590;
    background-color:#210590;
    border-radius: 8px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    color: white;
}
.link{
    text-decoration: none;
    color: #ffff;

}
.glink{
    text-decoration: none;
    color: #0D0D0D;
}
.back{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.back>img{
    width: 25px;
    height: 25px;
}
.link1{
    text-decoration: none;
    color: #666666;
}
.otps{
    display: flex;
    flex-direction: row;
    margin: 1rem;

}
.otps input{

    width: 50px;
    height: 50px;
    border: 2px #210590 solid;
    padding-left: 0rem 2rem;
    gap: 1rem;
    border-radius: 5px;
    text-align: center;
}