.baas{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-left: 150px;
    max-height: inherit;
    width: inherit;
    box-sizing: border-box;
    
    
}
.baas_inner{
    /* display: flex;
    max-height: inherit; */
    display: grid;
    grid-template-columns: 1fr 3fr 2fr;
    min-height: 0;
    width: inherit;
}
.body{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}
.dashboard_body{
    /* display: flex;
    width: inherit;
    justify-content: space-evenly;
    height: fit-content; */
    display: grid;
    width: inherit;
    grid-template-columns:2fr 1fr;
    gap: 1rem;
    margin-right: 1rem;
}
.grid-col-span{
    grid-row: 2 span;
}