/* .baas{
    display: flex;
    gap: 1rem;
    margin-left: 200px;
    max-height: inherit;
    width: inherit;
    box-sizing: border-box;
    
    
} */
.baas{
    /* display: flex;
    max-height: inherit; */
    display: grid;
    grid-template-columns: 3fr 5fr;
    height: 100vh;
    width: inherit;
    position: absolute;
    top: 0px;
    background-color: var(--background); 
    /* margin-left: 170px; */
}
@media screen and (min-height:721px) and (max-height:769px){
    .baas{
        /* display: flex;
        max-height: inherit; */
        display: grid;
        grid-template-columns: 3fr 15fr;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0px;
        background-color: var(--background); 
    }
}

@media screen and (min-height:769px) and (max-height:901px){
    .baas{
        /* display: flex;
        max-height: inherit; */
        display: grid;
        grid-template-columns: 3fr 15fr;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0px;
        background-color: var(--background); 
        margin-left: 1px;
    }
}


@media screen and (min-height:1025px) and (max-height:1081px){
    .baas{
        /* display: flex;
        max-height: inherit; */
        display: grid;
        grid-template-columns: 3fr 15fr;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0px;
        background-color: var(--background); 
        /* margin-left: 1px; */
    }
}

@media screen and (min-height:1081px) and (max-height:1441px){
    .baas{
        /* display: flex;
        max-height: inherit; */
        display: grid;
        grid-template-columns: 3fr 3fr 2fr;
        height: 100vh;
        width: inherit;
        position: absolute;
        top: 0px;
        background-color: var(--background); 
        margin-left: -1px;
    }
}


.body{
    /* display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    position: absolute;
    background-color: var(--background); */

    /* display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    position: relative; */
}
.body p{
    font-size: 24px;
    font-weight: 400;
    font-style: normal; 
    line-height: 32px;
    margin-left: 27px;
}
.dashboard_body{
    /* display: flex;
    width: inherit;
    justify-content: space-evenly;
    height: fit-content; */
    display: flex;
    flex-direction: row;
    width: inherit;
    grid-template-columns:3fr 8fr;
    gap: 1rem;
}
.grid-col-span{
    grid-row: 2 span;
}