.baas{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    max-height: inherit;
    width: inherit;
    box-sizing: border-box;
    flex-wrap: wrap;
    
}
.baas_inner{
    display: flex;
    max-height: inherit;
}
.body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.dashboard_body{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    height: fit-content;
}