@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto+Mono:wght@500&display=swap');

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
body {
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
:root{
  --blue: #210590;
  --neutral: #757575;
  --yellow: #F79009;
  --red: #F04438;
  --green: #12B76A;
  --background: #F7F7F7;
  --section-color: #ffffff;
  --card-color: #170465;
  --selected: #e9e6f4;
}
.root{
  width: 100%;
  height: 900px;
}